.sticky-footer {
    background-color: #000000;
    padding: 20px 0;
    position: sticky;
    bottom: 0;
}
.footer {
    background-color: #000000;
    padding: 20px 0;
    position: sticky;
    bottom: 0;
}
