<form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="row ml-5 justify-content-center">
      <div class="mb-2 col-sm-2 mr-5">
        <input type="text" class="form-control" formControlName="movieName" placeholder="Search Movie Here ...">
      </div>
    </div>
  </form>
  
  <div class="row mt-5 ml-4" *ngIf="searchResult">
    <div class="col-lg-4" *ngFor="let s of searchResult">
      <div class="row">
        <div class="col-lg-3 mt-4 mb-4" *ngIf="s.poster_path">
          <img src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}" [routerLink]="['/movie',s.id]">
        </div>
        <div class="col-lg-9 mt-4 mb-4">
          <h5>{{s.original_title}}</h5>
        </div>
      </div>
    </div>
  </div>
  